<h1 class="ecowave-header">EcoWave</h1>
<body class="session-body">
  <div class="session-container">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="session-fields">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: "sign-in" },
                    placeholder: "EMAIL",
                    label: false %>
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password", class: "sign-in" },
                placeholder: "PASSWORD",
                label: false %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "sign-in" },
                placeholder: "CONFIRM PASSWORD",
                label: false %>
  </div>

        <div class="session-btn-container">
          <%= f.button :submit, "SIGN UP", class: "sign-in" %>
        </div>
      <% end %>

  </div>
</body>

<%# <%= render "devise/shared/links" %>
