<h1 class="hr-lines">E C O W A V E</h1>
<h1>add to project</h1>

<div>
  <% @materials.each do |material| %>
    <%= link_to material.name, material_path(material) %>
    <%= simple_form_for [@project, @project_material] do |f| %>
    <%= f.input :material_id, input_html: { value: material.id, class: "d-none"}, label_html: {class: "d-none"} %>
    <%= f.submit "+" %>
    <% end %>


  <% end %>
</div>


<%= link_to home_path, class: "btn-home" do %>
   <i class="fa-solid fa-home"></i>
<% end %>


<%= link_to "Back", materials_path %>
