<nav class="navbar">
  <ul class="navbar-items">
    <li class="nav-item dropup">
        <%= image_tag "user.png",
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,
              'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="/home"><%= image_tag "home.png", class: "navbar-item mt-3 p-1", width: 40, height: 40 %></a>
          <%= link_to destroy_user_session_path, class: "navbar-item mt-3 p-1", data: { turbo_method: :delete } do %>
          <%= image_tag "log-out.png", alt: "Log Out" %>
          <% end %>
        </div>
    </li>
    <li class="navbar-item">
      <a href="/materials"><%= image_tag "black_fabric.png" %></a>
    </li>
    <li class="nav-item dropup">
        <%= image_tag "plus.png",
              class: "avatar dropdown-toggle",
              id: "navbarDropdown",
              data: { bs_toggle: "dropdown" },
              'aria-haspopup': true,
              'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="/materials/new"><%= image_tag "black_fabric.png", class: "navbar-item mt-3 p-1", width: 40, height: 40 %></a>
          <a href="/projects/new"><%= image_tag "project.png", class: "navbar-item mt-3 p-1", width: 40, height: 40 %></a>
        </div>
    </li>

    <li class="navbar-item">
      <a href="/projects"><%= image_tag "project.png" %></a>
    </li>
    <li class="navbar-item">
      <a href="/questions"><%= image_tag "artificial-intelligence.png" %></a>
    </li>
  </ul>
</nav>
