<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Projects", projects_path %>
<%= link_to "Inventory", materials_path %>
<br>
<h1 class="hr-lines">E C O W A V E</h1>
<br>
<p class="homepage-title">Your Score</p>
<br>
<p class="homepage-p"> <%= Material.avg_electricity.round(1) %> </p>
<p class="homepage-p"> <strong> Electricity </strong></p>
<br>
<p class="homepage-p"> <%= Material.avg_co2.round(1) %> </p>
<p class="homepage-p"> <strong> CO2 </strong></p>
<br>
<p class="homepage-p"> <%= Material.avg_water.round(1) %> </p>
<p class="homepage-p"> <strong> Water </strong> </p>
<br>
<br>
<hr>
<div class="pages-options">
  <%= link_to 'P', projects_path, class: "btn btn-secondary" %>
  <%= link_to 'M', materials_path, class: "btn btn-secondary" %>
  <%= link_to '+', new_project_path, class: "btn btn-secondary" %>
  <%= link_to 'A I', root_path, class: "btn btn-secondary" %>
  <%# need correct path above and below %>
  <%= link_to 'S O', destroy_user_session_path, class: "btn btn-secondary" %>
</div>
