<<<<<<< HEAD
<br>
=======
>>>>>>> master
<h1 class="hr-lines">E C O W A V E</h1>
<br>
<br>
<br>
<br>
<<<<<<< HEAD
<br>
  <p class="homepage-title">Your Score</p>
  <div class="ldBar label-center" data-preset="circle" data-value=" <%= (Material.avg_electricity.round(1) / 2000) * 100 %> ">
  </div>
  <%# <p class="homepage-p"> <%= (Material.avg_electricity.round(1) / 2000) * 100 %> </p>
  <p class="homepage-p"> <strong> Electricity </strong></p>
  <%# <br>
  <div class="ldBar" data-preset="circle" data-value= "<%= (Material.avg_co2.round(1) / 2000) * 100 %>
  <%# <div> %>
  <%# <p class="homepage-p"> <%= Material.avg_co2.round(1) </p> %>
  <%# <p class="homepage-p"> <strong> CO2 </strong></p>
  <br> %>
  <%# <div class="ldBar" data-preset="circle" data-value=" <%= (Material.avg_water.round(1) / 2000) * 100 %>
  <%# </div> %>
  <%# <p class="homepage-p"> <%= Material.avg_water.round(1) </p> %>
  <%# <p class="homepage-p"> <strong> Water </strong> </p> %>
<br>
<br>
<br>
<br>
<br>
<hr>
<div class="pages-options">
  <%= link_to 'P', projects_path, class: "btn btn-secondary" %>
  <%= link_to 'M', materials_path, class: "btn btn-secondary" %>
  <%= link_to '+', new_project_path, class: "btn btn-secondary" %>
  <%= link_to 'A I', root_path, class: "btn btn-secondary" %>
  <%# need correct path above and below %>
  <%= link_to 'S O', destroy_user_session_path, class: "btn btn-secondary" %>
</div>
=======
<p class="homepage-p"> <%= Material.avg_water.round(1) %> </p>
<p class="homepage-p"> <strong> Water </strong> </p>
>>>>>>> master
