<div class="project-container">

  <div class="search-container">
    <!-- Left Black Line -->
    <div class="search-line-container">
      <span class="search-line"></span>
    </div>

    <!-- Search Bar -->
    <div class="search-bar-container">
      <%= form_with url: projects_path, method: :get, local: true, class: "search-form" do %>
        <%= text_field_tag :query, params[:query], placeholder: "SEARCH", class: "search-input", autocomplete: "off" %>
        <button type="submit" class="search-icon">
          <img src="<%= asset_path('magnifying-glass.png') %>" alt="Search" class="search-img">
        </button>
      <% end %>
    </div>
  </div>

  <!-- PROJECT LIST -->
  <ul class="project-list">
    <% @projects.each do |project| %>
      <li class="project-item">

        <!-- Project Image -->
        <%# <%= image_tag "https://i.guim.co.uk/img/media/7863867c40c8715a756d7fbd08c8e33bc5ac6ffb/0_221_4134_2480/master/4134.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=88bd9bc16c79306542c5ac7741148042", class: "project-img" %>
        <%= link_to project_path(project) do %>
          <% if project.photo.attached? %>
            <%= cl_image_tag project.photo.key, class: "project-img", crop: :fill, alt: project.name %>
          <% else %>
            <%= image_tag "placeholder-image.png", class: "project-img", alt: "Default placeholder" %>
          <% end %>
        <% end %>

        <!-- Project Info -->
        <div class="project-info">
          <p><strong>PROJECT:</strong> <%= link_to project.name, project_path(project) %></p>

         <p><strong>DEADLINE:</strong> <%= project.deadline.present? ? project.deadline.strftime("%d/%m/%Y") : "No deadline set" %> </p>




          <p><strong>SCORE:</strong> 80/100</p>
        </div>

        <!-- Delete Button -->
        <%= button_to project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-delete" do %>
          <%= image_tag "bin.png", alt: "Delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
