<div class="project-container">

  <div class="search-container">
    <!-- Left Black Line -->
    <div class="search-line-container">
      <span class="search-line"></span>
    </div>

    <!-- Search Bar -->
    <div class="search-bar-container">
      <%= form_with url: projects_path, method: :get, local: true, class: "search-form" do %>
        <%= text_field_tag :query, params[:query], placeholder: "SEARCH", class: "search-input", autocomplete: "off" %>
        <button type="submit" class="search-icon">
          <img src="<%= asset_path('magnifying-glass.png') %>" alt="Search" class="search-img">
        </button>
      <% end %>
    </div>
  </div>

  <!-- PROJECT LIST -->
  <ul class="project-list">
    <% @projects.each do |project| %>
      <li class="project-item">

        <!-- Project Image -->
        <%= link_to project_path(project) do %>
          <% if project.photo.attached? %>
            <%= cl_image_tag project.photo.key, class: "project-img", crop: :fill, alt: project.name %>
          <% else %>
            <%= image_tag "placeholder-image.png", class: "project-img", alt: "Default placeholder" %>
          <% end %>
        <% end %>

        <!-- PROJECT INFO -->
        <div class="project-info">
          <p><strong>PROJECT:</strong> <%= project.name.presence || "Not Provided" %></p>
          <p><strong>DEADLINE:</strong> <%= project.deadline.strftime("%d/%m/%Y") if project.deadline %></p>
          <p><strong>SCORE:</strong> <%= project.sustainability_score %>/100</p>
        </div>


        <!-- Delete Button -->
        <%= button_to project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-delete" do %>
          <%= image_tag "bin_black.png", alt: "Delete" %>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
