<h1 class="ecowave-header">EcoWave</h1>

<div class="materials-show-container">
  <%= simple_form_for(@project, method: :post, html: { multipart: true, id: "fabric-form", data: { controller: "fabric-form" } }) do |f| %>

    <!-- IMAGE UPLOAD -->
    <div class="material-photo-container">
      <label for="material_photo" class="material-photo-label">
        <%= image_tag(@project.persisted? && @project.photo.attached? ? @project.photo : "placeholder-image.png",
                      id: "material-image-preview",
                      class: "material-photo",
                      alt: "Upload Fabric Photo",
                      data: { fabric_form_target: "image" }) %>
        <div class="quantity-toggle">+</div>
      </label>
      <%= f.input :photo, label: false, as: :file, input_html: { id: "material_photo", class: "d-none", data: { action: "change->fabric-form#previewImage" } } %>
    </div>

    <div class="form-buttons">
      <%= f.button :submit, class: "interface-white-button" %>
      <%= link_to "CANCEL", materials_path, class: "interface-black-button" %>
    </div>

    <!-- Details Card -->
    <div class="details-card">
      <div class="details-input-container">
        <%= f.input :name,
                    label: false,
                    placeholder: "NAME",
                    wrapper_html: { class: "material-input" },
                    input_html: { class: "material-input-field" } %>

        <div class="details-date">
          <%= f.input :deadline,
                      as: :string,
                      label: false,
                      input_html: { data: { controller: "datepicker" }, placeholder: "📅 DEADLINE" },
                      wrapper_html: { class: "material-input" } %>
        </div>

        <!-- Notes Section -->
        <div class="details-notes">
          <%= f.input :description, label: false, placeholder: "DESCRIPTION", wrapper_html: { class: "material-input" } %>
        </div>
      </div>
    </div>

    <!-- Form Buttons (moved outside of the details-card) -->
    <div class="form-buttons">
      <%= f.submit "ADD PROJECT", class: "interface-white-button" %>
      <%= link_to "CANCEL", projects_path, class: "interface-black-button" %>
    </div>

  <% end %> <!-- This is where the `simple_form_for` block ends -->

</div>
