<h1 class="hr-lines">E C O W A V E</h1>


<%= simple_form_for @project do |f| %>
  <%= f.input :name, label: "Name" %>
  <%= f.input :deadline,
            as: :string,
            input_html: { data: { controller: "datepicker" },
                          placeholder: "📅 dd/mm/yyyy" },
            label: "Deadline" %>


   <%= f.input :description, label: "Description", as: :text %>

  <%= f.button :submit, "Add Project" %>
  <div>  <%= link_to "Cancel", projects_path, class: "btn-cancel" %>
<% end %>
</div>
