<h1>Project information</h1>
<h3>This collection includes the following fabrics:</h3>
<ul>
  <% @project_materials.each do |project_material| %>
    <li><%= project_material.material.name %> (ID: <%= project_material.material.id %>)</li>
  <% end %>
</ul>


<%= link_to "Back", projects_path %>
<%= link_to "Add material", materials_path %>
<%= link_to "Edit " %>
