<div class="background">
  <h1 class="ecowave-header">EcoWave</h1>

    <div class="material-photo-container">
      <%= link_to edit_quantity_material_path(@material), class: "material-photo-link" do %>
        <%= cl_image_tag @material.photo&.key, id: "material-photo", crop: :fill, alt: "Fabric Photo"  if @material.photo&.key.present? %>
      <% end %>
    </div>

      <!-- Fabric Title and Quantity -->
    <h2 class="fabric-title">
      <%= @material.fabric_type.presence || "Not Provided" %>
    </h2>
    <p class="quantity">
      ACTUAL QUANTITY :
      <% if @material.length.present? %>
        <%= "#{@material.length.to_i}m" %>
      <% else %>
        Not Provided
      <% end %>
    </p>

    <%= simple_form_for(@material, url: update_quantity_material_path(@material), method: :patch) do |f| %>
  <div class="quantity-container">
    <button type="button" class="quantity-btn" onclick="decreaseQuantity()">-</button>
    <span id="quantity-value">
      <%= @material.length.present? ? @material.length.to_i : 0 %>
    </span>
    <button type="button" class="quantity-btn" onclick="increaseQuantity()">+</button>
  </div>
  <%= f.hidden_field :length, id: "material_length", value: @material.length.present? ? @material.length.to_i : 0 %>
  <%= f.button :submit, "UPDATE QUANTITY", class: "submit" %>
  <% end %>

    <div style="text-align: center; margin-top: 30px;">
      <a href="<%= edit_history_material_path(@material) %>" class="submit" style="text-decoration: none;">ADJUSTMENT HISTORY</a>
    </div>

    <script>
      function increaseQuantity() {
        let quantityElement = document.getElementById('quantity-value');
        let currentQuantity = parseInt(quantityElement.innerText);
        quantityElement.innerText = (currentQuantity + 1);
        document.getElementById('material_length').value = currentQuantity + 1;
      }

      function decreaseQuantity() {
        let quantityElement = document.getElementById('quantity-value');
        let currentQuantity = parseInt(quantityElement.innerText);
        if (currentQuantity > 0) {
          quantityElement.innerText = (currentQuantity - 1);
          document.getElementById('material_length').value = currentQuantity - 1;
        }
      }
    </script>

    <div class="back-container">
      <%= link_to material_path(@material) do %>
        <%= image_tag "white.png", alt: "White Image", class: "back-button" %>
      <% end %>
      <h5>BACK</h5>
    </div>

</div>
