<h1 class="hr-lines">E C O W A V E</h1>
<h2>Add new material to inventory</h2>

<%= form_with model: @material do |f| %>
  <%= f.label :type %>
  <%= f.text_field :name %>

  <%= f.label :fiber %>
  <%= f.text_field :fiber %>

  <%= f.label :colour %>
  <%= f.text_field :colour %>

  <%= f.label :origin %>
  <%= f.text_field :origin %>

  <%= f.label :purchase_location %>
  <%= f.text_field :purchase_location %>

  <%= f.label :certifications %>
  <%= f.text_field :certifications %>

  <%= f.label :length, "Length (m)" %>
  <%= f.text_field :length %>

  <%= f.label :width, "Width (cm)" %>
  <%= f.text_field :width %>

  <%= f.label :weight, "Weight (g/m²)" %>
  <%= f.text_field :weight %>

  <%= f.submit "Add fabric" %>
<% end %>

<%= link_to "Cancel", materials_path %>
