<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%# <link rel="stylesheet" type="text/css" href="loading-bar.css"/>
    <script type="text/javascript" src="loading-bar.js"></script> %>
  </head>

  <body>
    <% if user_signed_in? && !request.path.match?(/^\/materials\/\d+\/edit_quantity$/) && !request.path.match?(/^\/materials\/\d+\/edit_history$/) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= yield %>
  </body>
</html>
